{%
    set data =  [
	{
        new: 'Новинка',
        img: 'card',
        percent: 'Скидка 46%',
        discount: '340 &#8381;',
        price: '340 &#8381;',
        description: 'Бизнес книга о стратегии ведения бизнеса'
	},
    {
        img: 'card-2',
        price: '1 340 &#8381;',
        description: 'Бизнес книга о стратегии ведения бизнеса'
    },
    {
        img: 'card-3',
        price: '620 &#8381;',
        description: 'Бизнес книга о стратегии ведения бизнеса'
    },
    {
        img: 'card-4',
        price: '123 &#8381;',
        description: 'Бизнес книга о стратегии ведения бизнеса'
    }
]

%}


