{% set data =  [
    {
        number: '2130',
        date: '05.10.2022',
        fullprice: '3 550',
        status: 'Принят, ожидается оплата',
        class: 'not-sent',
        orders: [
            {
                img: '1',
                text: 'Трансфер спортсмена - источник дохода в индустрии спорта',
                type: 'мягкая обложка',
                price: '550',
                count: '1'
            },
            {
                img: '2',
                text: 'Трансфер спортсмена - источник дохода в индустрии спорта',
                type: 'мягкая обложка',
                price: '1498',
                count: '1'
            },
            {
                img: '1',
                text: 'Трансфер спортсмена - источник дохода в индустрии спорта',
                type: 'мягкая обложка',
                price: '1742',
                count: '1'
            }
        ]
    },
    {
        number: '2130',
        date: '05.10.2022',
        fullprice: '1 498',
        status: 'Принят, ожидается оплата',
        class: 'not-sent',
        orders: [
            {
                img: '3',
                text: 'Трансфер спортсмена - источник дохода в индустрии спорта',
                type: 'мягкая обложка',
                price: '1498',
                count: '1'
            }
        ]
    },
    {
        number: '2130',
        date: '05.10.2022',
        fullprice: '548',
        status: 'Отправлено',
        class: 'sent',
        orders: [
            {
                img: '4',
                text: 'Трансфер спортсмена - источник дохода в индустрии спорта',
                type: 'мягкая обложка',
                price: '548',
                count: '1'
            }
        ]
    },
        {
        number: '2130',
        date: '05.10.2022',
        fullprice: '548',
        status: 'Отправлено',
        class: 'sent',
        orders: [
            {
                img: '4',
                text: 'Трансфер спортсмена - источник дохода в индустрии спорта',
                type: 'мягкая обложка',
                price: '548',
                count: '1'
            }
        ]
    }
]

%}