.newspaper {
    @media (max-width: 1600px) {
        &__picture {
            max-width: 409px;
        }

    }

    @media (max-width: 1199px) {
        padding: 35px 0 35px;

        &__outside {
            padding-bottom: 80px;
        }

        &__fon {
            min-height: 371px;
        }

        &__block {

            &-title {
                margin-bottom: 14px;
            }

            &-button {
                width: 158px;
                height: 38px;
                color: #000;
                font-size: 10.3358px;
            }

            p {
                font-size: 11.3694px;
                line-height: 16px;
            }

            &-list {
                li {
                    margin-bottom: 35px;
                    padding-top: 17px;

                    p {
                        margin-bottom: 17px;
                    }

                    h3 {
                        margin-bottom: 8px;
                    }

                    img {
                        max-width: 40px;
                    }
                }
            }

            &:nth-child(1) {
                p {
                    margin-bottom: 52px;
                }
            }
        }

    }

    @media (max-width: 991px) {}

    @media (max-width: 767px) {
        padding: 20px 0 20px;

        &__outside {
            margin-bottom: 40px;
        }

        &__wrap {
            flex-direction: column;
        }

        &__block {
            width: 100%;

            &-button {
                position: absolute;
                bottom: 0;
                width: 100%;
                max-width: 92%;
                left: 50%;
                transform: translate(-50%, 0);
                font-size: 16px;
                height: 44px;
            }

            &:nth-child(1) {
                margin-right: 0;

                p {
                    margin-bottom: 15px;
                }
            }

            p {
                font-size: 18px;
                line-height: 29px;
            }

            &-list {
                li {
                    img {
                        max-width: 76px;
                    }
                }
            }


        }

        &__picture {
            display: none;
        }

        &__fon {
            background-image: url('../img/newspaper/newspaper-fon-mob.jpg');
        }

       
    }

    @media (max-width: 575px) {}
}